[Unit]
Description=DAS Edge Device Initialization
Wants=network-online.target
After=network-online.target systemd-udev-settle.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=oneshot
User=das
Group=das
WorkingDirectory=/home/das/DAS-Communication-System
ExecStart=/usr/bin/python3 /home/das/DAS-Communication-System/device/core/init_system.py
RemainAfterExit=yes
RuntimeDirectory=das
RuntimeDirectoryMode=0755
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target