<!-- <!DOCTYPE html>
<html>
<head>
    <title>DAS Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>DAS Monitoring Dashboard</h1>

    <div class="card">
        <p><strong>Band:</strong> <span id="band">Loading...</span></p>
        <p><strong>RSRP:</strong> <span id="rsrp">Loading...</span></p>
        <p><strong>RSRQ:</strong> <span id="rsrq">Loading...</span></p>
        <p><strong>SINR:</strong> <span id="sinr">Loading...</span></p>
    </div>

    <script src="/static/app.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI Test</title>
</head>
<body>
    <h1>IT WORKS</h1>
    <p>This is the homepage.</p>
</body>
</html>